@font-face{
	font-family: "Lobster";
	src: url(fonts/Lobster-Regular.ttf);
}

@font-face{
	font-family: "Bangers";
	src: url(fonts/Bangers.ttf);
}

img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#large{
	font-size: 30px;
}

#med{
	font-size: 20px;
}

#indent{
	padding-left: 210px
}

li{
	font-style: italic;
}