@font-face{
	font-family: Lobster;
	src: url(fonts/Lobster-Regular.ttf);
}

#header{
	font-family: Lobster;
}

.center{
	text-align: center;
}

#footer{
	margin-left: auto;
	margin-right: auto;
}
a:link{
	color: LightBlue;
}

a:visited{
	color: Crimson;
}

a:hover{
	font-weight: bold;
}

a:active{
	text-decoration: none;
	font-weight: normal;
}